.LoL-stats-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 25px;
  background-image: linear-gradient(#4ac9e3, #006eb3);
}

div {
  text-align: center;
}

p {
  text-align: center;
  line-height: 10px;
  font-size: 24px;
}

.champion-list-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.champion-item {
  margin-bottom: 10px;
}

.champion-list {
  list-style-type: none;
}

.champion-entry {
  border: 1px solid #255;
  border-radius: 5px;
  background-image: linear-gradient(#f8eddb, #e3e1d9);
  margin-bottom: 10px;
  padding: 10px;
  display: "flex";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.champion-info {
  margin-right: 10px;
  flex-grow: 1;
}

.champion-name {
  font-weight: bold;
  color: darkblue;
}

.mastery-points {
  color: red;
}
.champion-image {
  width: 85px;
  height: auto;
  padding-right: 10px;
  margin-left: 10px;
}

.tab {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  color: white;
}

.tab.active {
  font-weight: bold;
}

.winner-box {
  border: 10px solid green;
  border-radius: 5px;
  background-image: linear-gradient(#f8eddb, #e3e1d9);
  margin-bottom: 10px;
  padding: 10px;
  display: "flex";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.loser-box {
  border: 10px solid red;
  border-radius: 5px;
  background-image: linear-gradient(#f8eddb, #e3e1d9);
  margin-bottom: 10px;
  padding: 10px;
  display: "flex";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  list-style: none;
}


.match-participants {
  text-align: right;
  list-style: none;
}
